hello-custom-element {
  display: inline-block;
  background: radial-gradient(blue, green);
  color: #fff;
  transition: transform .2s ease-out;
  padding: 12px;
  .code {
    font: 12px Courier New
  }

  @keyframes yellowfade {
    from {
      background: yellow;
      color: #333;
    }
    to {
      background: transparent;
      color: #fff;
    }
  }

  .yellowfade {
    animation: yellowfade 2s;
  }
}